.issues {
  border: 1px solid #ccc;
  border-radius: 10px;
  .issue {
    padding: 10px 10px 5px 10px;
    border-bottom: 0.1px solid #ccc;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
      background-color: rgba(238, 238, 238, 0.555);
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .title {
        font-size: 18px;
        margin: 0;
        line-height: 1.2;
      }
      .isOpen {
        line-height: 1.3;
        margin-right: 5px;
        .open {
          fill: rgb(8, 175, 8) !important;
        }
        .fa-times-circle {
          color: red;
        }
      }
    }
    .badges {
      .badge {
        margin: 0 4px;
        border-radius: 15px;
        padding: 3px 8px;
        color: #fff;
      }
    }
  }
}
