.top {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cececebd;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.attach-issues-form {
  position: absolute;
  top: 70px;
  right: 60px;
}

.attached-labels {
  width: 150px;
}

.add-issue-form input,
.add-issue-btn {
  margin-top: 5px;
}

.issues {
  border: 1px solid #ccc;
  border-radius: 5px;
  .issue {
    background: #f6f6f6;
    padding: 10px 15px;
    border-bottom: 0.1px solid #ccc;
    border-radius: 6px;

    &:hover {
      background: #cacaca62;
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: left;

      .title {
        font-size: 17px;
        margin: 0;
        line-height: 1.1;
        color: rgb(71, 71, 71);
      }
      .badges {
        margin-left: 8px;

        .badge {
          padding: 3px 8px;
          margin-left: 5px;
          border-radius: 20px;
          font-size: 13px;
          font-weight: 600;
        }
      }

      .isOpen {
        margin-right: 5px;

        .bi-exclamation-circle {
          color: rgb(5, 165, 5);
        }

        .fa-times-circle {
          color: red;
        }
      }
    }
    .labels {
      .label {
        margin: 0 5px;
        padding: 3px;
      }
    }
    .infoTicket {
      color: #586069;
    }

    .number {
      font-size: 12px;
      margin-left: 20px;
      color: #586069;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}

// Form section
.issue-btn,
.issue-input,
.attach-label,
.add-issue-btn {
  border: 1px solid rgba(201, 199, 199, 0.822);
  padding: 8px 10px;
  border-radius: 5px;
  background: #27ae60;
  outline: none;
  color: #fff;
  transition: 0.3s;

  &:hover {
    background: #19914b;
  }
}

.issue-input {
  margin-right: 10px;
  background: #fff;
  color: #000;

  &:hover {
    background: #fff;
  }
  &:focus {
    border: 1px solid #27ae60;
    outline: none;
    box-shadow: 0 0 5px 1px #27ae60;
  }
}

.nav-link {
  text-decoration: none;
  color: #000;
}

//! Issue Page

.issue-page {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;

  .description {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
  }
}
