html,
body {
  height: 80vh;
}

.d-inline {
  display: inline-block;
}

.App {
  display: block;
  margin: 0 20%;
}
li {
  list-style-type: none;
}
a {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

@media (max-width: 785px) {
  .App {
    margin: 0 5px;
  }
}
