html,
body {
  height: 100vh;
}

.d-inline {
  display: inline-block;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
a {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

img {
  width: 100%;
}
